@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/font/IBM_Plex_Sans/IBMPlexSans-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/font/IBM_Plex_Sans/IBMPlexSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans Khmer";
  src: url("../public/font/Noto_Sans_Khmer/NotoSansKhmer-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 300;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 300;
}

html,
body,
* {
  overscroll-behavior: none;
  scroll-behavior: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-text > span {
  font-weight: 400;
}

.khmer {
  font-family: "Noto Sans Khmer";
}

[data-scroll-container] {
  position: fixed;
  right: 0;
  left: 0;
}

